.Store-home {

  &__slider {
    position: relative;
    height: 100%;
    padding-top: 2.75rem;
    transition: background 2s;

    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    &[data-color="0"] {
      background: $col-blue-dark;

      &:before {
        @include gradientTransparent($col-blue-light, to left)
      }
    }

    &[data-color="1"] {
      background: $col-purple-dark;

      &:before {
        @include gradientTransparent($col-purple-light, to left)
      }
    }

    &[data-color="2"] {
      background: $col-pink-dark;

      &:before {
        @include gradientTransparent($col-pink-light, to left)
      }
    }

    &[data-color="3"] {
      background: $col-red-dark;

      &:before {
        @include gradientTransparent($col-red-light, to left)
      }
    }

    &[data-color="4"] {
      background: $col-orange-dark;

      &:before {
        @include gradientTransparent($col-orange-light, to left)
      }
    }
  }

  &__sliderNav {
    position: absolute;
    padding: .5rem;
    padding-top: 4rem;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__sliderBullet {
    margin: 0 .25rem;
    padding: 0;
    border: none;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    text-indent: -999em;
    transition: opacity .4s;

    &.active {
      opacity: 1;
    }
  }

  &__sliderWrap {
    position: relative;
    overflow: hidden;
    padding-top: 25vh;
    height: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      height: 25vh;
      transform: skewY(-13deg);
      transform-origin: 100% 0;
      background: #fff;
    }
  }

  &__slides {
    position: relative;
    background: #fff;
    transition: transform .5s;
    height: 100%;
  }

  &__slide {
    position: relative;
    float: left;
    width: 100vw;
    height: 100%;
  }
}
