.Store-header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: .25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h1 {
    align-self: center;
    margin: 0;
    max-width: 60%;
    display: inline-block;
    vertical-align: middle;

    color: #fff;
    font-size: 1.25rem;
  }

  &__navBtn,
  &__cart {
    display: inline-block;
    vertical-align: middle;

    button {
      padding: .5rem;
      font-size: .75rem;
    }
  }
}
