:root {
  --col-green-light: $col-green-light;
  --col-green-medium: $col-green-medium;
  --col-green-dark: $col-green-dark;
  --col-blue-light: $col-blue-light;
  --col-blue-dark: $col-blue-dark;
  --col-purple-light: $col-purple-light;
  --col-purple-dark: $col-purple-dark;
  --col-pink-light: $col-pink-light;
  --col-pink-dark: $col-pink-dark;
  --col-orange-light: $col-orange-light;
  --col-orange-dark: $col-orange-dark;
  --col-red-light: $col-red-light;
  --col-red-dark: $col-red-dark;
}


/**
 * COMMON LAYOUT STYLES
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.Store {

  &-wrapper {
    height: 100vh;
    position: relative;
  }

  &-content {
    position: relative;
    padding-top: 2.75rem;
    height: 100%;
  }
}
