:root {
  --col-green-light: $col-green-light;
  --col-green-medium: $col-green-medium;
  --col-green-dark: $col-green-dark;
  --col-blue-light: $col-blue-light;
  --col-blue-dark: $col-blue-dark;
  --col-purple-light: $col-purple-light;
  --col-purple-dark: $col-purple-dark;
  --col-pink-light: $col-pink-light;
  --col-pink-dark: $col-pink-dark;
  --col-orange-light: $col-orange-light;
  --col-orange-dark: $col-orange-dark;
  --col-red-light: $col-red-light;
  --col-red-dark: $col-red-dark;
}


/**
 * COMMON LAYOUT STYLES
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.Store {

  &-svgDefinitions {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
  }

  &-navigation {

  }

  &-wrapper {
    height: 100vh;
    z-index: 1;
    position: relative;
    transition: transform .5s ease-in;
    overflow: hidden;

    &__overlay {
      opacity: 0;
      pointer-events: none;
      background: rgba(#fff, .25);
      transition-duration: .5s;
    }
  }

  &-content {
    position: relative;
    height: 100%;
  }

  /**
   * Navigation visible
   */
  &-app.hasNavigation {
    width: 100vw;
    overflow: hidden;

    .Store-wrapper {
      transform: translateX(75%) scale(.85);
      transform-origin: 0 50%;
      box-shadow: 0 0 4rem rgba(#666, .4);

      // Add soft white overlay
      &__overlay {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
