/**
 * VARS
 */

$col-green-light: #19d64c;
$col-green-medium: #00bd33;
$col-green-dark: #079900;

$col-blue-light: #1b87f6;
$col-blue-dark: #0066cf;

$col-purple-light: #8e25de;
$col-purple-dark: #6100ab;

$col-pink-light: #e82ecc;
$col-pink-dark: #c100a3;

$col-orange-light: #ffbb34;
$col-orange-dark: #e84f2a;

$col-red-light: #e45151;
$col-red-dark: #b11818;


/**
 * MIXINS
 */
@mixin gradient($color1, $color2, $direction) {
  background: linear-gradient($direction, $color1 0%, $color2 100%);
}

@mixin gradientTransparent($color1, $direction) {
  background: linear-gradient($direction, rgba($color1, 1) 0%, rgba($color1, 0) 100%);
}
